{% load i18n %}

ST_LOADING_DATA = "Data laden...";
ST_SELECT = "Selecteer";
ST_LOADING_TILES = "Kaart laden";
ST_EMPTY = "Leeg";
ST_LEGEND_OF = "Legenda van";
ST_NO_DATA  = "Geen data";

ST_NEW_SCENARIO = "Nieuw Scenario";
ST_RESULTS = "Resultaten";
ST_TABLE = "Tabel";
ST_IMPORT = "Importeren";
ST_EXPORT = "Exporteren";
ST_REGION = "Regio";
ST_BREACH = "Doorbraak";
ST_SCENARIO = "Scenario";
ST_RESULT = "Resultaat";

ST_OPACITY = "Doorzicht";

ST_SELECT_REGION = "Selecteer regio";
ST_SELECT_BREACH = "Selecteer doorbraakscenario";
ST_SELECT_SCENARIO = "Selecteer een scenario <br>(of geen resultaten beschikbaar)";

ST_ALL_WITH_RESULTS = "Alles met resultaat";
ST_ACCEPTED = "Goedgekeurd";
ST_REJECTED = "Afgekeurd";
ST_VERIFY = "Nog te keuren";
ST_ALL = "Alle (ook wachtrij)";
