{% load i18n %}

ST_LOADING_DATA = "{% trans 'Loading data' %}";
ST_SELECT = "{% trans 'Select' %}";
ST_LOADING_TILES = "{% trans 'Loading tiles...' %}";
ST_EMPTY = "{% trans 'Empty' %}";
ST_LEGEND_OF = "{% trans 'Legend of' %}";
ST_NO_DATA  = "{% trans 'No data' %}";

ST_NEW_SCENARIO = "{% trans 'new scenario' %}";
ST_RESULTS = "{% trans 'results' %}";
ST_TABLE = "{% trans 'table' %}";
ST_IMPORT = "{% trans 'import' %}";
ST_EXPORT = "{% trans 'export' %}";
ST_REGION = "{% trans 'region' %}";
ST_BREACH = "{% trans 'breach' %}";
ST_SCENARIO = "{% trans 'scenario' %}";
ST_RESULT = "{% trans 'result' %}";

ST_OPACITY = "{% trans 'Opacity' %}";

ST_SELECT_REGION = "{% trans 'Select a region' %}";
ST_SELECT_BREACH = "{% trans 'Select a breach' %}";
ST_SELECT_SCENARIO = "{% trans 'Select a scenario <br>(or no results available)' %}";

ST_ALL_WITH_RESULTS = "{% trans 'all_with_results' %}";
ST_ACCEPTED = "{% trans 'accepted' %}";
ST_REJECTED = "{% trans 'rejected' %}";
ST_VERIFY = "{% trans 'verify' %}";
ST_ALL = "{% trans 'all (also queue)' %}";
